In [1]:
#import Pandas; import and read data file
import pandas as pd

file_to_load = "Resources/HeroesOfPymoli.csv"

purchase_data_df = pd.read_csv(file_to_load)

purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
#statistical overview of the purchase data
purchase_data_df.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [3]:
#PLAYER COUNT

#Display the total number of players
    #status: done

In [4]:
#PLAYER COUNT
#Diplay the total number of players
total_players = purchase_data_df["SN"].nunique()
total_players

576

In [5]:
total_players_df = pd.DataFrame({
    "Total Players": [total_players]
})
total_players_df

   Total Players
0            576

In [6]:
#PURCHASING ANALYSIS (TOTAL)
#Run basic calculations to obtain number of unique items, average price,
#total number of purchases and total revenue

unique_items = purchase_data_df["Item ID"].nunique()
unique_items

average_price = purchase_data_df["Price"].mean()
average_price_round = round(average_price,2)
average_price_round

total_num_purchases = purchase_data_df["Purchase ID"].count()
total_num_purchases

total_revenue = purchase_data_df["Price"].sum()
total_revenue

2379.77

In [7]:
#Create a summary data frame to hold the results
summary_purchase_df = pd.DataFrame({
    "Number of Unique Items": [unique_items],
    "Average Price": [average_price_round],
    "Total Number of Purchases": [total_num_purchases],
    "Total Revenue": [total_revenue]    
    })

#format $ into average price and total revenue
summary_purchase_df["Average Price"] = summary_purchase_df["Average Price"].map("${:.2f}".format)
summary_purchase_df["Total Revenue"] = summary_purchase_df["Total Revenue"].map("${:.2f}".format)

#display summary data
summary_purchase_df

,Number of Unique Items,Average Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,$2379.77

In [8]:
#GENDER DEMOGRAPHICS
#Percentage and Count of Male Players
    #status: done

#Percentage and Count of Female Players
    #status: done

#Percentage and Count of Other / Non-Disclosed
    #status: done
    
#Note: Format % symbol in Percentage of Players column

In [9]:
#GENDER DEMOGRAPHICS
#Percentage and count of Male Players
#borrowed parts of code from https://stackoverflow.com/questions/45759966/counting-unique-values-in-a-column-in-pandas-dataframe-like-in-qlik/45760042
players_male_count_df = purchase_data_df.loc[purchase_data_df["Gender"]=="Male","SN"].agg("nunique")
players_male_count_df
players_male_perc = round(players_male_count_df/total_players*100,2)
players_male_perc

84.03

In [10]:
#Percentage and count of Female Players
#borrowed parts of code from https://stackoverflow.com/questions/45759966/counting-unique-values-in-a-column-in-pandas-dataframe-like-in-qlik/45760042
players_female_count_df = purchase_data_df.loc[purchase_data_df["Gender"]=="Female","SN"].agg("nunique")
players_female_count_df
players_female_perc = round(players_female_count_df/total_players*100,2)
players_female_perc

14.06

In [11]:
#Percentage and count of Other/Non-Disclosed Players
#borrowed parts of code from https://stackoverflow.com/questions/45759966/counting-unique-values-in-a-column-in-pandas-dataframe-like-in-qlik/45760042
players_other_NonDisc_count_df = purchase_data_df.loc[purchase_data_df["Gender"]=="Other / Non-Disclosed","SN"].agg("nunique")
players_other_NonDisc_count_df
players_other_NonDisc_perc = round(players_other_NonDisc_count_df/total_players*100,2)
players_other_NonDisc_perc

1.91

In [12]:
#summary data frame of gender demographics
gender_demographics_df = pd.DataFrame({
    "": ["Male", "Female", "Other / Non-Disclosed"],
    "Total Count": [players_male_count_df, players_female_count_df, players_other_NonDisc_count_df],
    "Percentage of Players": [players_male_perc, players_female_perc, players_other_NonDisc_perc]
})
gender_demographics_df

                          Total Count  Percentage of Players
0                   Male          484                  84.03
1                 Female           81                  14.06
2  Other / Non-Disclosed           11                   1.91

In [13]:
#gender_demographics_df["Percentage of Players"] = gender_demographics_df["Percentage of Players"].map("{:.2f}%")
#gender_demographics_df
#BEFORE NEXT STEP - ADD PERCENT SYMBOL TO PERCENTAGE OF PLAYERS

In [14]:
#Purchasing Analysis (Gender)
#The below each broken by gender

#Purchase Count
    #status: done

#Average Purchase Price:
    #status: done

#Total Purchase Value:
    #status: done

#Average Purchase Total per Person by Gender
    #status: done

In [15]:
#calculate purchase count, average purchase price, total purchase value and average purchase total per person by gender
#for males
purchase_count_male_df = purchase_data_df.loc[purchase_data_df["Gender"]=="Male","SN"].agg("count")
purchase_count_male_df

total_purch_price_male_df = purchase_data_df.loc[purchase_data_df["Gender"]=="Male","Price"].agg("sum")
total_purch_price_male_df

average_purch_price_male_df = round(total_purch_price_male_df/purchase_count_male_df,2)
average_purch_price_male_df

average_purch_price_per_male_df = round(total_purch_price_male_df/players_male_count_df,2)
average_purch_price_per_male_df

4.07

In [16]:
#for females
purchase_count_female_df = purchase_data_df.loc[purchase_data_df["Gender"]=="Female","SN"].agg("count")
purchase_count_female_df

total_purch_price_female_df = purchase_data_df.loc[purchase_data_df["Gender"]=="Female","Price"].agg("sum")
total_purch_price_female_df

average_purch_price_female_df = round(total_purch_price_female_df/purchase_count_female_df,2)
average_purch_price_female_df

average_purch_price_per_female_df = round(total_purch_price_female_df/players_female_count_df,2)
average_purch_price_per_female_df

4.47

In [17]:
#for other / non-disclosed
purchase_count_other_NonDisc_df = purchase_data_df.loc[purchase_data_df["Gender"]=="Other / Non-Disclosed","SN"].agg("count")
purchase_count_other_NonDisc_df

total_purch_price_other_NonDisc_df = purchase_data_df.loc[purchase_data_df["Gender"]=="Other / Non-Disclosed","Price"].agg("sum")
total_purch_price_other_NonDisc_df

average_purch_price_other_NonDisc_df = round(total_purch_price_other_NonDisc_df/purchase_count_other_NonDisc_df,2)
average_purch_price_other_NonDisc_df

average_purch_price_per_other_NonDisc_df = round(total_purch_price_other_NonDisc_df/players_other_NonDisc_count_df,2)
average_purch_price_per_other_NonDisc_df

4.56

In [18]:
#summary data frame of purchase analysis (gender)
#ADD IN DOLLAR SIGNS
purch_analysis_gender_df = pd.DataFrame({
    "Gender": ["Male", "Female", "Other / Non-Disclosed"],
    "Purchase Count": [purchase_count_male_df, purchase_count_female_df, purchase_count_other_NonDisc_df],
    "Average Purchase Price": [average_purch_price_male_df, average_purch_price_female_df, average_purch_price_other_NonDisc_df],
    "Total Purchase Value": [total_purch_price_male_df,total_purch_price_female_df, total_purch_price_other_NonDisc_df],
    "Average Total Purchase Per Person": [average_purch_price_per_male_df, average_purch_price_per_female_df, average_purch_price_per_other_NonDisc_df]
})
purch_analysis_gender_df

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
0,Male,652,3.02,1967.64,4.07
1,Female,113,3.20,361.94,4.47
2,Other / Non-Disclosed,15,3.35,50.19,4.56

In [19]:
#  Age Demographics
 
# Establish bins for ages
    #status: done

# Categorize the existing players using the age bins. Hint: use pd.cut()
    #status: done

# Calculate the numbers and percentages by age group
    #status: done

# Create a summary data frame to hold the results
    #status: done

# Optional: round the percentage column to two decimal points
    #status: done

# Display Age Demographics Table
    #status: done

In [20]:
#Create bins by age
purchase_data_df["Age"].max()

bin_age = [0, 9, 14, 19, 24, 29, 34, 39, 100]

group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [21]:
#bin it
pd.cut(purchase_data_df["Age"], bin_age, labels = group_labels).head()

0    20-24
1      40+
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): ['<10' < '10-14' < '15-19' < '20-24' < '25-29' < '30-34' < '35-39' < '40+']

In [22]:
#check to see if bin worked and label binned data frame
purchase_data_df["Age Ranges"] = pd.cut(purchase_data_df["Age"], bins=bin_age, labels = group_labels)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Ranges
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [23]:
#group the newly binned data frame
purchase_age_group = purchase_data_df.groupby(["Age Ranges"])
purchase_age_group.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Ranges
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20-24
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35-39
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,35-39
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86,35-39
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64,30-34
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,35-39
23,23,Eyrian71,40,Male,151,Severance,3.40,40+
24,24,Siala43,30,Male,132,Persuasion,3.19,30-34
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,25-29
26,26,Lirtossa84,11,Male,71,Demise,1.61,10-14
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,<10
30,30,Idai61,19,Male,140,Striker,2.94,15-19
31,31,Farusrian86,37,Male,179,"Wolf, Promise of the Moonwalker",4.48,35-39
32,32,Aeralria27,10,Male,133,Faith's Scimitar,4.09,10-14
33,33,Haillyrgue51,7,Male,44,Bonecarvin Battle Axe,2.38,<10
34,34,Sondim73,19,Male,160,Azurewrath,4.40,15-19
36,36,Idaisuir85,30,Male,76,Haunted Bronzed Bludgeon,3.15,30-34
37,37,Seuthep89,8,Male,73,Ritual Mace,2.05,<10
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18,10-14
42,42,Aidaillodeu39,18,Male,72,Winter's Bite,3.77,15-19
46,46,Yasrisu92,27,Male,102,Avenger,3.44,25-29
49,49,Iaralrgue74,33,Male,110,Suspension,1.44,30-34
53,53,Ilosianya35,32,Male,176,Relentless Iron Skewer,2.84,30-34
54,54,Zhisrisu83,10,Male,25,Hero Cane,4.35,10-14
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79,25-29
56,56,Raesty92,12,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,10-14
59,59,Yaliru88,19,Male,105,Hailstorm Shadowsteel Scythe,3.03,15-19
61,61,Jiskimya77,17,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,15-19
65,65,Chamirraya83,25,Male,34,Retribution Axe,2.22,25-29
70,70,Pheodai94,29,Male,143,Frenzied Scimitar,1.56,25-29
78,78,Haillyrgue51,7,Male,50,Dawn,4.60,<10
81,81,Heudai45,8,Female,174,Primitive Blade,3.47,<10
156,156,Eyrian71,40,Male,117,"Heartstriker, Legacy of the Light",1.79,40+
220,220,Jiskjask85,40,Male,46,Hopeless Ebon Dualblade,1.33,40+
248,248,Isursuir31,44,Male,137,"Aetherius, Boon of the Blessed",3.39,40+

In [24]:
purchase_count_u10 = purchase_data_df.loc[purchase_data_df["Age Ranges"]=="<10","SN"].agg("count")
purchase_count_u10

23

In [25]:
#use sort out the data frame so that purchase id is maintained as a unique identifier
#note: DOES NOT IDENTIFY UNIQUE USERS, USE FOR PURCHASING ANALYSIS (AGE) SECTION
# age_group_count = purchase_age_group["Purchase ID"].count()
# age_group_count

In [26]:
#use sort out the data frame so that SN is used in conjuntion with nunique
#note: USE THIS FUNCTION FOR THIS SECTION (AGE DEMOGRAPHICS)
age_group_count_2 = purchase_age_group["SN"].nunique()
age_group_count_2

Age Ranges
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64

In [53]:
#calculate the count for each age group
#calculate the percentage of age groups of total purchases
count_u10 = age_group_count_2.iloc[0]
count_u10
percent_u10 = round(count_u10/total_players*100,2)
percent_u10

count_10_14 = age_group_count_2.iloc[1]
count_10_14
percent_10_14 = round(count_10_14/total_players*100,2)
percent_10_14

count_15_19 = age_group_count_2.iloc[2]
count_15_19
percent_15_19 = round(count_15_19/total_players*100,2)
percent_15_19

count_20_24 = age_group_count_2.iloc[3]
count_20_24
percent_20_24 = round(count_20_24/total_players*100,2)
percent_20_24

count_25_29 = age_group_count_2.iloc[4]
count_25_29
percent_25_29 = round(count_25_29/total_players*100,2)
percent_25_29

count_30_34 = age_group_count_2.iloc[5]
count_30_34
percent_30_34 = round(count_30_35/total_players*100,2)
percent_30_34

count_35_39 = age_group_count_2.iloc[6]
count_35_39
percent_35_39 = round(count_35_39/total_players*100,2)
percent_35_39

count_40m = age_group_count_2.iloc[7]
count_40m
percent_40m = round(count_40m/total_players*100,2)
percent_40m

2.08

In [66]:
#create and print the data frame for the age demographic table
age_demo_table = {
    "Age Ranges": ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"],
    "Total Count": [count_u10, count_10_14, count_15_19, count_20_24, count_25_29, count_30_34,
                   count_35_39, count_40m],
    "Percentage of Players":[percent_u10, percent_10_14, percent_15_19, 
                                        percent_20_24, percent_25_29, percent_30_35,
                                        percent_35_39, percent_40m]}
age_demo_table

age_demo_table_df = pd.DataFrame(age_demo_table, columns = ["Total Count", "Percentage of Players"])
age_demo_table_df

   Total Count  Percentage of Players
0           17                   2.95
1           22                   3.82
2          107                  18.58
3          258                  44.79
4           77                  13.37
5           52                   9.03
6           31                   5.38
7           12                   2.08

In [29]:
#Purchasing Analysis (Age)
 
#Bin the purchase_data data frame by age
    #status: done

#Run basic calculations to obtain purchase count, avg. purchase price, 
#avg. purchase total per person etc. in the table below
    #status: done

#Create a summary data frame to hold the results
    #status: done

#Optional: give the displayed data cleaner formatting
    #status: ip

#Display the summary data frame
    #status: done

In [30]:
#reuse the same bins and cut from the age demographics for purchase age
# bin_age = [0, 9, 14, 19, 24, 29, 34, 39, 100]

# group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#pd.cut(purchase_data_df["Age"], bin_age, labels = group_labels).head()

# purchase_data_df["Age Ranges"] = pd.cut(purchase_data_df["Age"], bins=bin_age, labels = group_labels)
# purchase_data_df.head()

# purchase_age_group = purchase_data_df.groupby(["Age Ranges"])
purchase_age_group.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Ranges
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20-24
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35-39
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,35-39
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86,35-39
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64,30-34
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,35-39
23,23,Eyrian71,40,Male,151,Severance,3.40,40+
24,24,Siala43,30,Male,132,Persuasion,3.19,30-34
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,25-29
26,26,Lirtossa84,11,Male,71,Demise,1.61,10-14
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,<10
30,30,Idai61,19,Male,140,Striker,2.94,15-19
31,31,Farusrian86,37,Male,179,"Wolf, Promise of the Moonwalker",4.48,35-39
32,32,Aeralria27,10,Male,133,Faith's Scimitar,4.09,10-14
33,33,Haillyrgue51,7,Male,44,Bonecarvin Battle Axe,2.38,<10
34,34,Sondim73,19,Male,160,Azurewrath,4.40,15-19
36,36,Idaisuir85,30,Male,76,Haunted Bronzed Bludgeon,3.15,30-34
37,37,Seuthep89,8,Male,73,Ritual Mace,2.05,<10
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18,10-14
42,42,Aidaillodeu39,18,Male,72,Winter's Bite,3.77,15-19
46,46,Yasrisu92,27,Male,102,Avenger,3.44,25-29
49,49,Iaralrgue74,33,Male,110,Suspension,1.44,30-34
53,53,Ilosianya35,32,Male,176,Relentless Iron Skewer,2.84,30-34
54,54,Zhisrisu83,10,Male,25,Hero Cane,4.35,10-14
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79,25-29
56,56,Raesty92,12,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,10-14
59,59,Yaliru88,19,Male,105,Hailstorm Shadowsteel Scythe,3.03,15-19
61,61,Jiskimya77,17,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,15-19
65,65,Chamirraya83,25,Male,34,Retribution Axe,2.22,25-29
70,70,Pheodai94,29,Male,143,Frenzied Scimitar,1.56,25-29
78,78,Haillyrgue51,7,Male,50,Dawn,4.60,<10
81,81,Heudai45,8,Female,174,Primitive Blade,3.47,<10
156,156,Eyrian71,40,Male,117,"Heartstriker, Legacy of the Light",1.79,40+
220,220,Jiskjask85,40,Male,46,Hopeless Ebon Dualblade,1.33,40+
248,248,Isursuir31,44,Male,137,"Aetherius, Boon of the Blessed",3.39,40+

In [31]:
#use sort out the data frame so that purchase id is maintained as a unique identifier
#note: DOES NOT IDENTIFY UNIQUE USERS, USE FOR PURCHASING ANALYSIS (AGE) SECTION
# age_group_count = purchase_age_group["Purchase ID"].count()
# age_group_count
age_group_price = purchase_age_group["Price"].sum()
age_group_price

Age Ranges
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [32]:
#use the sort accidentally discovered in the previous section
#it gives the total purchase count, not constrained to unique users
age_group_count = purchase_age_group["Purchase ID"].count()
age_group_count

Age Ranges
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Purchase ID, dtype: int64

In [58]:
#Run basic calculations to obtain purchase count, avg. purchase price, 
#avg. purchase total per person etc. in the table below

#under 10
purchase_count_u10 = age_group_count.iloc[0]
purchase_count_u10

#total purchase value
total_purchase_price_u10 = age_group_price.iloc[0]
total_purchase_price_u10

#average purchase price
avg_purchase_price_u10 = round(total_purchase_price_u10/purchase_count_u10,2)
avg_purchase_price_u10

#avg total purchase per person
avg_total_price_u10 = round(total_purchase_price_u10/count_u10,2)
avg_total_price_u10
#17 purchasers: count_u10


#10-14
purchase_count_10_14 = age_group_count.iloc[1]
purchase_count_10_14

#total purchase value
total_purchase_price_10_14 = round(age_group_price.iloc[1],2)
total_purchase_price_10_14

# #average purchase price
avg_purchase_price_10_14 = round(total_purchase_price_10_14/purchase_count_10_14,2)
avg_purchase_price_10_14

# #avg total purchase per person
avg_total_price_10_14 = round(total_purchase_price_10_14/count_10_14,2)
avg_total_price_10_14

3.76

In [59]:
#15-19
purchase_count_15_19 = age_group_count.iloc[2]
purchase_count_15_19

#total purchase value
total_purchase_price_15_19 = round(age_group_price.iloc[2],2)
total_purchase_price_15_19

# #average purchase price
avg_purchase_price_15_19 = round(total_purchase_price_15_19/purchase_count_15_19,2)
avg_purchase_price_15_19

# #avg total purchase per person
avg_total_price_15_19 = round(total_purchase_price_15_19/count_15_19,2)
avg_total_price_15_19


#20-24
purchase_count_20_24 = age_group_count.iloc[3]
purchase_count_20_24

#total purchase value
total_purchase_price_20_24 = round(age_group_price.iloc[3],2)
total_purchase_price_20_24

# #average purchase price
avg_purchase_price_20_24 = round(total_purchase_price_20_24/purchase_count_20_24,2)
avg_purchase_price_20_24

# #avg total purchase per person
avg_total_price_20_24 = round(total_purchase_price_20_24/count_20_24,2)
avg_total_price_20_24

4.32

In [60]:
#25-29
purchase_count_25_29 = age_group_count.iloc[4]
purchase_count_25_29

#total purchase value
total_purchase_price_25_29 = round(age_group_price.iloc[4],2)
total_purchase_price_25_29

# #average purchase price
avg_purchase_price_25_29 = round(total_purchase_price_25_29/purchase_count_25_29,2)
avg_purchase_price_25_29

# #avg total purchase per person
avg_total_price_25_29 = round(total_purchase_price_25_29/count_25_29,2)
avg_total_price_25_29

#30-34
purchase_count_30_34 = age_group_count.iloc[5]
purchase_count_30_34

#total purchase value
total_purchase_price_30_34 = round(age_group_price.iloc[5],2)
total_purchase_price_30_34

# #average purchase price
avg_purchase_price_30_34 = round(total_purchase_price_30_34/purchase_count_30_34,2)
avg_purchase_price_30_34

# #avg total purchase per person
avg_total_price_30_34 = round(total_purchase_price_30_34/count_30_34,2)
avg_total_price_30_34

4.12

In [61]:
#35-39
purchase_count_35_39 = age_group_count.iloc[6]
purchase_count_35_39

#total purchase value
total_purchase_price_35_39 = round(age_group_price.iloc[6],2)
total_purchase_price_35_39

# #average purchase price
avg_purchase_price_35_39 = round(total_purchase_price_35_39/purchase_count_35_39,2)
avg_purchase_price_35_39

# #avg total purchase per person
avg_total_price_35_39 = round(total_purchase_price_35_39/count_35_39,2)
avg_total_price_35_39

#40+
purchase_count_40m = age_group_count.iloc[7]
purchase_count_40m

#total purchase value
total_purchase_price_40m = round(age_group_price.iloc[7],2)
total_purchase_price_40m

# #average purchase price
avg_purchase_price_40m = round(total_purchase_price_40m/purchase_count_40m,2)
avg_purchase_price_40m

# #avg total purchase per person
avg_total_price_40m = round(total_purchase_price_40m/count_40m,2)
avg_total_price_40m

3.19

In [65]:
purchasing_analysis_age_summary_df = pd.DataFrame({
    "Age Ranges": ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"],
    "Purchase Count": [purchase_count_u10, purchase_count_10_14, purchase_count_15_19, 
                       purchase_count_20_24, purchase_count_25_29, purchase_count_30_34, 
                       purchase_count_35_39, purchase_count_40m],
    "Average Purchase Price": [avg_purchase_price_u10, avg_purchase_price_10_14, avg_purchase_price_15_19, 
                               avg_purchase_price_20_24, avg_purchase_price_25_29, avg_purchase_price_30_34, 
                               avg_purchase_price_35_39, avg_purchase_price_40m],
    "Total Purchase Value": [total_purchase_price_u10, total_purchase_price_10_14, total_purchase_price_15_19, 
                             total_purchase_price_20_24, total_purchase_price_25_29, 
                             total_purchase_price_30_34, total_purchase_price_35_39, 
                             total_purchase_price_40m],
    "Avg Total Purchase per Person": [avg_total_price_u10, avg_total_price_10_14, avg_total_price_15_19,
                                      avg_total_price_20_24, avg_total_price_25_29, avg_total_price_30_34, 
                                      avg_total_price_35_39, avg_total_price_40m]})

purchasing_analysis_age_summary_df

,Age Ranges,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,<10,23,3.35,77.13,4.54
1,10-14,28,2.96,82.78,3.76
2,15-19,136,3.04,412.89,3.86
3,20-24,365,3.05,1114.06,4.32
4,25-29,101,2.90,293.00,3.81
5,30-34,73,2.93,214.00,4.12
6,35-39,41,3.60,147.67,4.76
7,40+,13,2.94,38.24,3.19

In [ ]:
#  Top Spenders
 
# Run basic calculations to obtain the results in the table below
    #status: ip

# Create a summary data frame to hold the results
    #status: ip

# Sort the total purchase value column in descending order
    #status: ip

# Optional: give the displayed data cleaner formatting
    #status: ip

# Display a preview of the summary data frame
    #status: ip