In [1]:
#import Pandas; import and read data file
import pandas as pd

file_to_load = "Resources/HeroesOfPymoli.csv"

purchase_data_df = pd.read_csv(file_to_load)

purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
#statistical overview of the purchase data
purchase_data_df.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [3]:
#PLAYER COUNT

#Display the total number of players
    #status: done

In [4]:
#PLAYER COUNT
#Diplay the total number of players
total_players = purchase_data_df["SN"].nunique()
total_players

576

In [5]:
total_players_df = pd.DataFrame({
    "Total Players": [total_players]
})
total_players_df

   Total Players
0            576

In [6]:
#PURCHASING ANALYSIS (TOTAL)
#Run basic calculations to obtain number of unique items, average price,
#total number of purchases and total revenue

unique_items = purchase_data_df["Item ID"].nunique()
unique_items

average_price = purchase_data_df["Price"].mean()
average_price_round = round(average_price,2)
average_price_round

total_num_purchases = purchase_data_df["Purchase ID"].count()
total_num_purchases

total_revenue = purchase_data_df["Price"].sum()
total_revenue

2379.77

In [7]:
#Create a summary data frame to hold the results
summary_purchase_df = pd.DataFrame({
    "Number of Unique Items": [unique_items],
    "Average Price": [average_price_round],
    "Total Number of Purchases": [total_num_purchases],
    "Total Revenue": [total_revenue]    
    })

#format $ into average price and total revenue
summary_purchase_df["Average Price"] = summary_purchase_df["Average Price"].map("${:.2f}".format)
summary_purchase_df["Total Revenue"] = summary_purchase_df["Total Revenue"].map("${:.2f}".format)

#display summary data
summary_purchase_df

,Number of Unique Items,Average Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,$2379.77

In [8]:
#GENDER DEMOGRAPHICS
#Percentage and Count of Male Players
    #status: done

#Percentage and Count of Female Players
    #status: done

#Percentage and Count of Other / Non-Disclosed
    #status: done
    
#Note: Format % symbol in Percentage of Players column

In [9]:
#GENDER DEMOGRAPHICS
#Percentage and count of Male Players
#borrowed parts of code from https://stackoverflow.com/questions/45759966/counting-unique-values-in-a-column-in-pandas-dataframe-like-in-qlik/45760042
players_male_count_df = purchase_data_df.loc[purchase_data_df["Gender"]=="Male","SN"].agg("nunique")
players_male_count_df
players_male_perc = round(players_male_count_df/total_players*100,2)
players_male_perc

84.03

In [10]:
#Percentage and count of Female Players
#borrowed parts of code from https://stackoverflow.com/questions/45759966/counting-unique-values-in-a-column-in-pandas-dataframe-like-in-qlik/45760042
players_female_count_df = purchase_data_df.loc[purchase_data_df["Gender"]=="Female","SN"].agg("nunique")
players_female_count_df
players_female_perc = round(players_female_count_df/total_players*100,2)
players_female_perc

14.06

In [11]:
#Percentage and count of Other/Non-Disclosed Players
#borrowed parts of code from https://stackoverflow.com/questions/45759966/counting-unique-values-in-a-column-in-pandas-dataframe-like-in-qlik/45760042
players_other_NonDisc_count_df = purchase_data_df.loc[purchase_data_df["Gender"]=="Other / Non-Disclosed","SN"].agg("nunique")
players_other_NonDisc_count_df
players_other_NonDisc_perc = round(players_other_NonDisc_count_df/total_players*100,2)
players_other_NonDisc_perc

1.91

In [12]:
#summary data frame of gender demographics
gender_demographics_df = pd.DataFrame({
    "": ["Male", "Female", "Other / Non-Disclosed"],
    "Total Count": [players_male_count_df, players_female_count_df, players_other_NonDisc_count_df],
    "Percentage of Players": [players_male_perc, players_female_perc, players_other_NonDisc_perc]
})
gender_demographics_df

                          Total Count  Percentage of Players
0                   Male          484                  84.03
1                 Female           81                  14.06
2  Other / Non-Disclosed           11                   1.91

In [13]:
#gender_demographics_df["Percentage of Players"] = gender_demographics_df["Percentage of Players"].map("{:.2f}%")
#gender_demographics_df
#BEFORE NEXT STEP - ADD PERCENT SYMBOL TO PERCENTAGE OF PLAYERS

In [14]:
#Purchasing Analysis (Gender)
#The below each broken by gender

#Purchase Count
    #status: done

#Average Purchase Price:
    #status: done

#Total Purchase Value:
    #status: done

#Average Purchase Total per Person by Gender
    #status: done

In [15]:
#calculate purchase count, average purchase price, total purchase value and average purchase total per person by gender
#for males
purchase_count_male_df = purchase_data_df.loc[purchase_data_df["Gender"]=="Male","SN"].agg("count")
purchase_count_male_df

total_purch_price_male_df = purchase_data_df.loc[purchase_data_df["Gender"]=="Male","Price"].agg("sum")
total_purch_price_male_df

average_purch_price_male_df = round(total_purch_price_male_df/purchase_count_male_df,2)
average_purch_price_male_df

average_purch_price_per_male_df = round(total_purch_price_male_df/players_male_count_df,2)
average_purch_price_per_male_df

4.07

In [16]:
#for females
purchase_count_female_df = purchase_data_df.loc[purchase_data_df["Gender"]=="Female","SN"].agg("count")
purchase_count_female_df

total_purch_price_female_df = purchase_data_df.loc[purchase_data_df["Gender"]=="Female","Price"].agg("sum")
total_purch_price_female_df

average_purch_price_female_df = round(total_purch_price_female_df/purchase_count_female_df,2)
average_purch_price_female_df

average_purch_price_per_female_df = round(total_purch_price_female_df/players_female_count_df,2)
average_purch_price_per_female_df

4.47

In [17]:
#for other / non-disclosed
purchase_count_other_NonDisc_df = purchase_data_df.loc[purchase_data_df["Gender"]=="Other / Non-Disclosed","SN"].agg("count")
purchase_count_other_NonDisc_df

total_purch_price_other_NonDisc_df = purchase_data_df.loc[purchase_data_df["Gender"]=="Other / Non-Disclosed","Price"].agg("sum")
total_purch_price_other_NonDisc_df

average_purch_price_other_NonDisc_df = round(total_purch_price_other_NonDisc_df/purchase_count_other_NonDisc_df,2)
average_purch_price_other_NonDisc_df

average_purch_price_per_other_NonDisc_df = round(total_purch_price_other_NonDisc_df/players_other_NonDisc_count_df,2)
average_purch_price_per_other_NonDisc_df

4.56

In [18]:
#summary data frame of purchase analysis (gender)
#ADD IN DOLLAR SIGNS
purch_analysis_gender_df = pd.DataFrame({
    "Gender": ["Male", "Female", "Other / Non-Disclosed"],
    "Purchase Count": [purchase_count_male_df, purchase_count_female_df, purchase_count_other_NonDisc_df],
    "Average Purchase Price": [average_purch_price_male_df, average_purch_price_female_df, average_purch_price_other_NonDisc_df],
    "Total Purchase Value": [total_purch_price_male_df,total_purch_price_female_df, total_purch_price_other_NonDisc_df],
    "Average Total Purchase Per Person": [average_purch_price_per_male_df, average_purch_price_per_female_df, average_purch_price_per_other_NonDisc_df]
})
purch_analysis_gender_df

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
0,Male,652,3.02,1967.64,4.07
1,Female,113,3.20,361.94,4.47
2,Other / Non-Disclosed,15,3.35,50.19,4.56

In [19]:
#Purchasing Analysis (Age)
 
#Bin the purchase_data data frame by age
    #status: ip

#Run basic calculations to obtain purchase count, avg. purchase price, 
#avg. purchase total per person etc. in the table below
    #status: ip

#Create a summary data frame to hold the results
    #status: ip

#Optional: give the displayed data cleaner formatting
    #status: ip

#Display the summary data frame
    #status: ip

In [20]:
#Create bins by age
purchase_data_df["Age"].max()

bin_age = [0, 9, 14, 19, 24, 29, 34, 39, 100]

group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [21]:
pd.cut(purchase_data_df["Age"], bin_age, labels = group_labels).head()
#pd.cut(purchase_data_df["Age"], bin_age, labels = group_labels, include_lowest=True).head()

0    20-24
1      40+
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): ['<10' < '10-14' < '15-19' < '20-24' < '25-29' < '30-34' < '35-39' < '40+']

In [22]:
purchase_data_df["Age Ranges"] = pd.cut(purchase_data_df["Age"], bins=bin_age, labels = group_labels)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Ranges
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [31]:
purchase_age_group = purchase_data_df.groupby(["Age Ranges"])
purchase_age_group.count()

            Purchase ID   SN  Age  Gender  Item ID  Item Name  Price
Age Ranges
<10                  23   23   23      23       23         23     23
10-14                28   28   28      28       28         28     28
15-19               136  136  136     136      136        136    136
20-24               365  365  365     365      365        365    365
25-29               101  101  101     101      101        101    101
30-34                73   73   73      73       73         73     73
35-39                41   41   41      41       41         41     41
40+                  13   13   13      13       13         13     13

In [36]:
age_group_df[Age] = purchase_data_df.groupby(["Age Ranges"])
age_group_df.count()

            Purchase ID   SN  Age  Gender  Item ID  Item Name  Price
Age Ranges
<10                  23   23   23      23       23         23     23
10-14                28   28   28      28       28         28     28
15-19               136  136  136     136      136        136    136
20-24               365  365  365     365      365        365    365
25-29               101  101  101     101      101        101    101
30-34                73   73   73      73       73         73     73
35-39                41   41   41      41       41         41     41
40+                  13   13   13      13       13         13     13

In [37]:
age_group_count = age_group_df["Purchase ID"].count()
age_group_count_df = pd.DataFrame(age_group_count, columns=["Total Count"])
age_group_count_df

Empty DataFrame
Columns: [Total Count]
Index: []

In [38]:
percent_u10 = round(age_group_count.iloc[0]/total_players*100,2)
percent_u10

percent_10_14 = round(age_group_count.iloc[1]/total_players*100,2)
percent_10_14

percent_15_19 = round(age_group_count.iloc[2]/total_players*100,2)
percent_15_19

percent_20_24 = round(age_group_count.iloc[3]/total_players*100,2)
percent_20_24

percent_25_29 = round(age_group_count.iloc[4]/total_players*100,2)
percent_25_29


percent_30_35 = round(age_group_count.iloc[5]/total_players*100,2)
percent_30_35

percent_35_39 = round(age_group_count.iloc[6]/total_players*100,2)
percent_35_39

percent_40m = round(age_group_count.iloc[7]/total_players*100,2)
percent_40m

2.26

In [ ]:
percent_age = {"Percentage of Players":[percent_u10, percent_10_14, percent_15_19, 
                                        percent_20_24, percent_25_29, percent_30_35,
                                        percent_35_39, percent_40m]
              }
percent_age_df = pd.DataFrame(percent_age, columns=["Percentage of Players"])
percent_age_df

In [ ]:
age_count_perc_df = pd.DataFrame({"Total Count": purchase_age_group,
                                  "Percentage of Players": percent_age_df})
age_count_perc_df

In [ ]:
age_count_percent = pd.merge(age_group_count, percent_age_df, on="Purchase ID")

In [ ]:
age_chart = ([age_group_df["Age"]], [percent_age])
age_chart.head()

In [ ]:
#use total_players to find the percent_players
percent_players_10 = age_group_count.iloc[age_group_count["Age Ranges"]]

In [ ]:
#add percent_players to the age range chart

In [ ]:
grouped_purchase_data_df = purchase_data_df.groupby(["Gender"])
grouped_purchase_data_df

In [ ]:
grouped_purchase_data_gender_df = pd.DataFrame(
    grouped_purchase_data_df["Price"].sum())
grouped_purchase_data_gender_df