In [1]:
#import Pandas; import and read data file
import pandas as pd

file_to_load = "Resources/HeroesOfPymoli.csv"

purchase_data_df = pd.read_csv(file_to_load)

purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
#statistical overview of the purchase data
purchase_data_df.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [3]:
#PLAYER COUNT

#Display the total number of players
    #status: done

In [4]:
#PLAYER COUNT
#Diplay the total number of players
total_players = purchase_data_df["SN"].nunique()
total_players

576

In [5]:
total_players_df = pd.DataFrame({
    "Total Players": [total_players]
})
total_players_df

   Total Players
0            576

In [6]:
#PURCHASING ANALYSIS (TOTAL)
#Run basic calculations to obtain number of unique items, average price,
#total number of purchases and total revenue

unique_items = purchase_data_df["Item ID"].nunique()
unique_items

average_price = purchase_data_df["Price"].mean()
average_price_round = round(average_price,2)
average_price_round

total_num_purchases = purchase_data_df["Purchase ID"].count()
total_num_purchases

total_revenue = purchase_data_df["Price"].sum()
total_revenue

2379.77

In [7]:
#Create a summary data frame to hold the results
summary_purchase_df = pd.DataFrame({
    "Number of Unique Items": [unique_items],
    "Average Price": [average_price_round],
    "Total Number of Purchases": [total_num_purchases],
    "Total Revenue": [total_revenue]    
    })

#format $ into average price and total revenue
summary_purchase_df["Average Price"] = summary_purchase_df["Average Price"].map("${:.2f}".format)
summary_purchase_df["Total Revenue"] = summary_purchase_df["Total Revenue"].map("${:.2f}".format)

#display summary data
summary_purchase_df

,Number of Unique Items,Average Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,$2379.77

In [8]:
#GENDER DEMOGRAPHICS
#Percentage and Count of Male Players
    #status: ip

#Percentage and Count of Female Players
    #status: ip

#Percentage and Count of Other / Non-Disclosed
    #status: ip

In [18]:
#GENDER DEMOGRAPHICS
#Percentage and count of Male Players
#borrowed parts of code from https://stackoverflow.com/questions/45759966/counting-unique-values-in-a-column-in-pandas-dataframe-like-in-qlik/45760042
#players_male_count_df = purchase_data_df.loc[purchase_data_df["Gender"]=="Male","SN"].agg("nunique")
#players_male_count_df
players_male_perc = round(players_male_count_df/total_players*100,2)
players_male_perc

84.03

In [20]:
#Percentage and count of Female Players
#borrowed parts of code from https://stackoverflow.com/questions/45759966/counting-unique-values-in-a-column-in-pandas-dataframe-like-in-qlik/45760042
#players_female_count_df = purchase_data_df.loc[purchase_data_df["Gender"]=="Female","SN"].agg("nunique")
#players_female_count_df
players_female_perc = round(players_female_count_df/total_players*100,2)
players_female_perc

14.06

In [ ]:
#Percentage and count of Male Players
#borrowed parts of code from https://stackoverflow.com/questions/45759966/counting-unique-values-in-a-column-in-pandas-dataframe-like-in-qlik/45760042
#players_male_count_df = purchase_data_df.loc[purchase_data_df["Gender"]=="Male","SN"].agg("nunique")
#players_male_count_df
players_male_perc = round(players_male_count_df/total_players*100,2)
players_male_perc